@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//  配置公用样式属性  配合 字典 使用

.global-text-blue {
  color: #1890ff;
}

.global-text-green {
  color: #3dc1a2;
}

.global-text-red {
  color: #ff4396;
}

.global-text-default {
  color: #909399;
}


.global-text-box {
  display: inline-block;
  height: 32px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
}

//退回
.global-text-back {
  color: #3dc1a2;
  background-color: #e2f6f2;
  border-color: #3dc1a2;

}

//中奖
.global-text-win {
  color: #ff4040;
  background-color: #f7e5e5;
  border-color: #ff4040;

}

//和局
.global-text-tie {
  color: #ffc300;
  background-color: #f5f1e5;
  border-color: #ffc300;
}


//未中奖
.global-text-no-win {
  color: #40f0ff;
  background-color: #e4f4f5;
  border-color: #40f0ff;
}


//庄家赢
.global-text-banker-wins {
  color: #ff4083;
  background-color: #f4e1e8;
  border-color: #ff4083;

}



//玩家赢
.global-text-player-wins {
  color: #ff8640;
  background-color: #f9eae1;
  border-color: #ff8640;
}

//退回已到账
.global-text-return-card {
  color: #9c40ff;
  background-color: #f0eaf7;
  border-color: #9c40ff;
}

//退回未到账
.global-text-return-no {
  color: #5be000;
  background-color: #ecf5e6;
  border-color: #5be000;
}

//奖金已退回
.global-text-bonus-returned {
  color: #4092ff;
  background-color: #e1e9f3;
  border-color: #4092ff;
}

//奖金已到账
.global-text-bonus-card {
  color: #ff40de;
  background-color: #f3e1f0;
  border-color: #ff40de;
}

.el-table .warning-row {
  // background-color: rgb(245, 75, 75);

  .cell {
    color: red !important;
  }

  // --el-table-row-hover-bg-color: none !important;

  .table-button,
  i,
  span {
    color: red !important;
  }
}

.el-table .green {
  // background-color: rgb(245, 75, 75);

  .cell {
    color: green !important;
  }

  // --el-table-row-hover-bg-color: none !important;

  .table-button,
  i,
  span {
    color: green !important;
  }
}


.el-table .red {
  // background-color: rgb(245, 75, 75);

  .cell {
    color: red !important;
  }

  // --el-table-row-hover-bg-color: none !important;

  .table-button,
  i,
  span {
    color: red !important;
  }
}